/* 
This css comment shortcut fpr adding the comment is command/ctrl + /
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: dark slategray;
  background-image: url(../images/white_brick_wall.png);

}

/* box model example */
section p {
  width: 50%;
  /* single value = top/bottom/left/right
  2 value= first value = top/bottom, second value = left/right */
  padding: 1 em .5em;
  /* top right bottom (left clockwise) */
  margin: -1em 2em 2em 2em;




}

.container {
  /* create a container containing everything inside the body tag */
  max-width: 1200px;
  margin: 0 auto;



}
img{
width: 100%;

}

h1 {
  color: cadetblue;
}

p {
  background-color: antiquewhite;
}

/* selecting multipl element */
h1,
h2,
h3,
h4 {
  text-decoration: underline;
}

/*  selecting child element
remove the bullets from the nav but keep on merch and ingrendients */
nav ul {
  list-style: none;


}
nav ul li {
  display: inline-block;
  width: 49%;
  padding: 1em;
  box-sizing: border-box;

}
/*  selecting child element mulitple levels */
nav ul a {
  display: block;
  color: darkslategray;
  text-decoration: none;

}

/* selecting element with ID value 
As best practice avoid using ID for styles ( for spectificity )*/
#Treatoftheweek {
  /* colour image repeat position-x position-y  */
  background: cadetblue url(../images/bread.jpg) no-repeat center;
  /* background-size  cover image is cover ( regardless of h and W ) */
  background-size: cover;
  font-size: 1.25rem;
  /* 16 px *1.25= 20 px  */
  /* padding push elements away walls from the walls  */
  padding: 1em;
  /* 1 em * 20px( elements font size) =20 px  */
  width: 50%;
  /* height is 100% of the browser size and it is dynamic */
  /* height 100vh; */
position: relative;
padding: 1em 1em 4em 1em;

}

/* position Abolute base onbrower  */
.blue-link.large-text{
  position:absolute;
  bottom:0;
  right:0;
}

/* Selecting html elements with class name  */
.blue-link {
  padding: 1.5em;
  width: 300px;
  display: block;
  background-color: darkslategray;
  color: antiquewhite;
  text-decoration: none;

}

.large-text {
  font-size: 24px;

}
/* Example of Float
 */
 article,
 aside{
  width: 80%;
  background-color: rgba(225, 255, 255, 0.6);
  border: 1px solid black;
  padding: 1.5 rem;
  box-sizing: border-box;
  float: left;

 }

 aside{
  width: 20%;

 }
/* clear float from the section */

section{
  clear: both;
}

.white-text {
  color: antiquewhite;

}

/* combinators  */
/* Direct child selector- will only select direct child of the parent */
article>p {
  font-size: 24px;


  /* css typography  properities  */
  font-weight: bold;
  line-height: 1.5;
  text-transform: lowercase;
  text-align: center;

}

/* adjecent sibling selector- selector the element that is the very next slibing to the selected element, IF any exist  */
h3+ul {
  border: 1px solid black;
}

/* Sibling selector  */
h3~p {
  text-transform: uppercase;
}

/* attribute selector  */
[href="Treatoftheweek"] {
  font-weight: bold;
}

[src$=".jpg"] {
  border: 8px solid darkslategray;

}
/* fixed navigare */
nav{
  position: fixed ;
  top: 0;
  left:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

}
/* psuedo classes */
/* styling the Navigation */
nav ul a,
nav ul a:link,
nav ul a:visited {
  background-color: antiquewhite;
  /* horizonal, vertical, blur , spread and color */
  box-shadow: -2px 2px 4px 2px #000;
}

/*  add class of current html home link after adding hover and focus */
nav ul .current,
nav ul a:hover,
nav ul a:focus {
  text-decoration: underline;
}

nav ul a:active {
  box-shadow: 0 0 4px 2px black;
}

/* first child and last child  */
aside ul li:first-child {
  font-weight: bold;
}

section ol li:last-child {
  font-weight: bold;
}

/* styling a table */
table {
  border-collapse: collapse;
}

/* nth-child selector-even/odd */
tbody tr:nth-child(even) {
  background-color: #d5836c;
}

/* using the nth-child with n */
/* where n is 0,1,2,3, and etc until the numbers of element ends */
table th:nth-child(n),
table td:nth-child(n) {
  border: 1px solid black;
}

/* Using a formula in nth-child selectors */
table td:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.2);
}

/* CSS specificity */
/* formula: inline,ID,Class Tag-name */
/*             0    0   0    0  */
footer {
  background-color: aqua;
}

/* 0002 formula  */
body footer {
  background-color: red;
}

/* 0002 */
article h2 {
  text-transform: lowercase;
}

/* 0011*/
footer.site-footer {
  background-color: antiquewhite;
}

/* 0100 */
#Treatoftheweek {
  font: size 24px;
}