body {
  font-family: Arial, Helvetica, sans-serif;
  
}

/* body of the content box similar to container */
.bodybox {
  margin: 0 auto;
  max-width: 1225px;
  background-color: lightskyblue;
}



/*week 4,5,6 and 7 notes IMD website. 
 helping to understand Css code- Linkedin Learning CSS Essential Training 
videos 2.CSS Core concepts
ID selectors
class selectors
Descendant combinators and selector lists
The background property
video 3.The css box model
The box model properties 
box-sizing and the box model fix
4. layout floats and postion 
 */
/* wide starfish photo top of page  vscode */
.widestar {
  position: relative;
  left: 10%;
  margin-top: 0;
  
 
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
/* h1 title is center, on starfish wide top image and whitesmoke font  vscode */
.fontimg {
  position: absolute;
  left: 45%;
  top: 25%;
  color: whitesmoke;
  font-size: 45px;

}


/* Nav bar no dash bullets and inline text  Nav a-anchor no underline-week 4,5 and 6 notes  vscode*/
nav ul li {
  list-style: none;
  display: inline;
  position: relative;
  right: 35%;
  padding-right: 28.25%;
  margin-left: 1% ;
  
  
}

/*a-anchor no underline-week 4,5 and 6 notes  vscode*/
 a{
  
  text-decoration: none;
  position: relative;
  left: 45%;
  color: blue;
  
  
}

/* Nav a-anchor hover change color underline
 week 4,5 and 6 notes  vscode */
a:hover {
  color: blueviolet;
  text-decoration: underline;


}
/* week 4,5, 6 and 7 vscode notes h2 postive left brown life of starfish */ 
h2{
  position: relative;
  left: 10%;
  color: brown;

}
/* week 4,5, 6 and 7 vscode notes starfish left image left max width 300px */ 
  .starfish{
    max-width: 300px;
    position: relative;
    left: 10%;
    
  }
  /* week 4,5, 6 and 7 vscode notes trying to align and position text with image */ 
p{
 margin-left: 15%;
 margin-right: 15%;
 margin-top:-25%;
padding-left: 20%;
padding-left: 19.25%;
  text-align: left;
  
}
/* week 4,5, 6 and 7 vscode notes h3 facts about fishs */ 
h3{
position: relative;
  left: 10%;
  bottom: 15% ;
  color: brown;
  font-size: 20px;
}
/* week 4,5, 6 and 7 vscode notes  contact to learn more  */ 
h4{
  position:relative;
  left: 10%;
  bottom: 15% ;
  color: blue;
  font-size: 20px;
}


/* week 4,5, 6 and 7 vscode notes bullets of facts */ 
.listfact {
  position: relative;
  left: 10%;
  bottom: 15% ;
  color: brown;
  font-size: 20px;
}



/* week 4,5, 6 and 7 vscode notes the form  */ 
section form ul li {
 
  position: relative;
  left: 10%;
  bottom: 15% ;
  color: blue; 
 font-size: 15px;
  list-style: none;
 
 

}
h5{
  position: relative;
  left: 10%;
  bottom: 15% ;
  color: blue;
  font-style: bold;
  font-size: 18px;
  list-style: none;
}
radioin{
  display: inline-block;



}
footer{
position: relative;
 left: 70%;
}




